<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Cyber Clock Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Veille Cybersécurité</h1>

    {% for article in articles %}
    <div class="article priority-{{ article.ai_priority }}">
        <p>[{{ article.ai_priority | upper }}]
           <a href="{{ article.url }}">{{ article.ai_title_fr }}</a>
        </p>
        <p>{{ article.ai_summary }}</p>
        <p><em>{{ article.ai_why_it_matters }}</em></p>
    </div>
    {% endfor %}

</body>
</html>
